* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

nav ul {
  /* width: 70vw;
  margin: auto; */
  /* for limiting nav width */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  padding: 1rem;
  background-color: lightblue;
  list-style-type: none;
}

nav ul h1 {
  font-size: 2rem;
  /* text-decoration: underline dotted 10px blue ; */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.hero {
  min-height: 90vh;
  background-image: url('/-img/NarutoFlex2.png');
  background-size: cover;
  background-position: left;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  text-align: center;
  margin: 1.5rem;
}

.hero button {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: rgb(72, 148, 246);
  border: none;
  border-radius: 0.5rem;
}

.intro {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.intro img {
  width: 100%;
}

.intro-img {
  flex: 1 1 23rem;
}

.intro-text {
  flex: 1 1 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-text h2 {
  padding: 1rem;
}

.intro-text p {
  padding: 0.5rem;
}